@use "sass:color";

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin text-shadow($level: 1, $color: currentcolor) {
  text-shadow:
    calc(-0.1px * $level) calc(-0.1px * $level) $color,
    calc(0.1px * $level) calc(0.1px * $level);
}

@mixin define-color($title, $color) {
  --#{$title}-h: #{color.hue($color)};
  --#{$title}-l: #{color.lightness($color)};
  --#{$title}-s: #{color.saturation($color)};
  --#{$title}-a: #{color.alpha($color)};
}
